* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* MIX */
.w_100 {
  width: 100%
}

/* GENERAL */

.col-6 h2 {
  color: red;
  background-color: lightgreen;
}

.flag {
  width: 30px;
  height: 30px;
  background-image: url(../img/no-flag.png);
  border: 1px solid black;
}

.flag img {
  width: 100%;
}
