* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* MIX */
.w_100 {
  width: 100%
}

.bg_black {
  background-color: #000;
}

.d_flex {
  display: flex;
}

/* GENERAL */

.page_wrapper {
  height: 100vh;
}

/* header */

header {
  height: 75px;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;

}

.logo {
  max-height: 75px;
}

.logo img {
  width: 100%;
  height: 100%;
}

.input {
  height: 100%;
  display: flex;
  align-items: center;
}

input, button {
height: 30px;
border: 1px solid #fff;
color: #fff;
}

input::placeholder, button i {
  font-size: 24px;
  color: #fff;
}

/* main */

main {
  height: calc(100% - 75px);
  overflow: auto;
  margin: 0 30px;
}

#movie_results, #series_results {
  width: 100%;
  flex-wrap: nowrap;
  display: flex;
  overflow-y: auto;
}

.row h2 {
  color: #CA3332;
}

.box {
  position: relative;
  width: 342px;
  max-height: 456px;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
}

.box img {
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  color: #fff;
  background-color: #000;
  overflow: auto;
  padding: 20px;
}

#stars_ratio {
  display: flex;
  list-style: none;
  color: yellow;
}

.box:hover .overlay {
  display: block;
}

.flag {
  width: 30px;
  height: 30px;
  background-image: url(../img/no-flag.png);
  border: 1px solid black;
}

.flag img {
  width: 100%;
}

@media screen and (max-width: 425px) {
  header {
    height: 115px;
  }

  .input {
    height: 20%;
  }


}
